<div class="footer">
  <div>
    <p class="sello-footer">© 2020 Fitness Revolution</p>
    <a class="footer-link"
      ><i class="fa fa-facebook-square" aria-hidden="true"></i
    ></a>
    <a class="footer-link"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>
    <a class="footer-link"
      ><i class="fa fa-youtube-square" aria-hidden="true"></i
    ></a>
    <a class="footer-link"
      ><i class="fa fa-twitter-square" aria-hidden="true"></i
    ></a>
  </div>
  <!-- Logo -->
  <img class="svg-footer" src="../../assets/FR-logo-blanco.svg" alt="logo" />
</div>
